* {
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
}

.container {
    background-color: yellow;
    /* justify-content: center; */
    margin: 0 350px;
    width: 650px;
    height: auto;
    /* display: gri; */
}

.field {
    width: 100%;
    height: auto;
}

.input {
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* padding-left: 100px; */
}



.list {
    list-style: none;
    display: flex;
    /* padding: 10px 10px; */
}

.list>li {
    padding: 0px 10px;
}